/**
 * Main App Styles
 */
 
 @import "~bootstrap/scss/bootstrap";
 @import "dropzone";

.edit_album_title { 
     cursor: pointer; 
    }
    
    .check,
    .cross {
        color: gray;
    }
    .cross-active {
        color: red;
    }

    .check-active {
     color: green;
 }