/**
 * Main App Styles
 */
 
 @import "~bootstrap/scss/bootstrap";
 @import "dropzone";

.edit_album_title { 
     cursor: pointer; 
    }
    
.thumbs-up,
.thumbs-down {
     color: gray;
}
.thumb-active {
     color: rgb(71, 71, 241);
}